@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
}
body{
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}
.delete-task button{
float: right;
width: 50px;
}
#list-group-item {
  display: flex;
}
#list-group-item button{
  flex: 1;
}
h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 50;
  text-align: center;
  margin: 1rem 0 3rem; 
  font-family: 'Hind', sans-serif;
}

.title{
  color: lime;
  text-transform: uppercase;
  font-weight: 800;
}

.inputDiv{
  display: flex;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
  outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 100px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
  background-color: gray;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item{
  border-bottom: 4px solid #fff;
  margin-bottom: 1.5rem;
}

.item_input{
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  width: 245px;
}

.edit{
  background: none;
  outline: none;
  border: none;
  color: red;
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  margin: 0 0.5rem;
  cursor: pointer;
}
.edit{
  background: none;
  outline: none;
  border: none;
  color: red;
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  margin: 0 0.5rem;
  cursor: pointer;
}

.remove{
  background: none;
  outline: none;
  border: none;
  color: #E00;
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  cursor: pointer;
}

.wrapper{
  background: white;
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 5px;
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
}
.wrapper .inputField{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField input:focus{
  border-color: coral;
}
.inputField button{
  width: 100px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 15px;
  outline: none;
  background: blue;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
  background: coral;
}
.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList{
  max-height: 250px;
  overflow-y: auto;
}
.todoList li{
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todoList li .icon{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon{
  right: 0px;
}
.wrapper .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}