.main-content{
    display:flex;
}
.column1 {
    flex-basis:30%;
    padding:15px;
}
.column2 {
    flex-basis:70%;
}
.to-do-list-header {
    font-size:30px;
}
.taskbar-holder {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-app-taskbar {
    width:50%;
    white-space: nowrap;
}
.add-task-placeholder{
    padding: 20px 0;
    display:flex;
}
.new-list{
    padding:10px;
}
.task {
    display: flex;
    align-items: baseline;
}
.task-text {
    padding: 10px;
}